<!-- <section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
                <div class="col-md-6 col-lg-5 d-none d-md-block g">
             <img src="img/istockphoto-865916970-612x612.jpg" alt="" class="img-fluid">
                </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
  
                  <form>
                    <button class="btn btn-danger test"><a href="login.html" class="pum">X</a></button>
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                    
                      <span class="h1 fw-bold mb-0" style="color: #db1a0c;">ກູ້ຄືນລະຫັດຜ່ານ</span>
                      
                      
                    </div>
  
           
  
                    <div class="form-outline mb-5 mt-5">
                        <label class="form-label" for="form2Example17">ຊື່ເຂົ້າລະບົບ</label>
                        <input type="email" id="form2Example17" class="form-control form-control-lg" />
                    </div>
  
                    <div class="row">

                        <h6>ເລືອກຄຳຖາມທີ່ໃຊ້ຢືນຢັນ</h6>
                        <div class="col-md-5 mb-4">
                          
                          <select class="select "  style="border-color:rgb(175, 171, 175) ; height: 48px; border-radius:5px">
                            <option value="1">ຊື່ໝາທີ່ລ້ຽງ</option>
                            <option value="2">ເລກປ້າຍລົດ</option>
                            <option value="3">ໂທລະສັບໜ່ວຍທຳອິດລຸ້ນຫຍັງ</option>
                          </select>
      
                        </div>

                        <div class="col-md-7">     
                    
                          <input type="text" id="form3Example9" class="form-control form-control-lg" placeholder="ປ້ອນຄຳຕອບ" />                             
                        </div>
                    </div>
  
           
                    <div class="pt-1 mb-4 ">
                      <button class="btn btn-dark btn-lg " type="button" data-bs-target="#show" data-bs-toggle="modal">ຢຶນຢັນ</button>
                    </div>

                    <div class="modal fade" id="show">
                        <div class="modal-dialog">
                            <div class="modal-contant">
                                <div class="modal-header">
                                    <h5>ໃສ່ລະຫັດຜ່ານໃຫມ່</h5>
                                    <button class="btn-close" data-bs-dismiss="modal"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="">
                                        <div class="form-group">
                                            <label>ລະຫັດຜ່ານໃຫມ່</label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>ຢືນຢັນລະຫັດຜ່ານໃຫມ່</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" data-bs-dismiss="modal">ຍົກເລີກ</button>
                                    <button class="btn btn-success">ບັນທຶກຂໍ້ມູນ</button>
                                </div>
                            </div>
                        </div>
                    </div>
    
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section> -->
<section class=" min-vh-100 d-flex justify-content-center ">
  <div class="d-flex justify-content-center align-items-center">
        <div class="card">
          <div class="card-body ">
            <form action="">
              <h3 class="text-center text-danger">ລືມລະຫັດຜ່ານ</h3> 
              <div class="form-group text-center">
                <p>ປ້ອນ Email ຂອງທ່ານເພື່ອດຳເນີນການປ່ຽນລະຫັດຜ່ານ</p>
                <input class="text-center  text-align: center rounded-pill" type="text " placeholder="your e-mail">
              </div>
              <div class="text-center mt-3">
                <button routerLink ="../Login" class="btn btn-danger">ຍົກເລີກ</button>
                <button class="btn btn-success ms-3">ດຳເນີນການ</button>
              </div>
              
            </form>
          </div>
        </div>   
  </div>
</section>
<!-- <section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img
                src="../../assets/img/img1.jpg"
                alt="login form"
                class="img-fluid" style="border-radius: 1rem 0 0 1rem;"
              />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form>

                  <h3 class="text-center text-danger">ລືມລະຫັດຜ່ານ</h3> 
              <div class="form-group text-center">
                <p>ປ້ອນ Email ຂອງທ່ານເພື່ອດຳເນີນການປ່ຽນລະຫັດຜ່ານ</p>
                <input class="text-center  text-align: center rounded-pill" type="text " placeholder="your e-mail">
              </div>
              <div class="text-center mt-3">
                <button routerLink ="../Login" class="btn btn-danger">ຍົກເລີກ</button>
                <button class="btn btn-success ms-3">ດຳເນີນການ</button>
              </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->