
    <section class="h-100 bg-dark">
 
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col">
            <div class="card card-registration my-4">
              <div class="row g-0">
                <div class="col-xl-6 d-none d-xl-block">
                  <img
                    src="../../../assets/img/img4.jpg"
                    alt="Sample photo"
                    class="img-fluid"
                    style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;"
                  />
                </div>
                <div class="col-xl-6">
                  <div class="card-body p-md-5 text-black">
                   
                    <button  [routerLink]="['../../Auth/Login']" class="btn btn-danger test">X</button>
                    <h3 class="mb-5 text-uppercase text-center">ໜ້າລົງທະບຽນ</h3>
    
                    <div class="row">
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <label class="form-label" for="form3Example1m">ຊື່</label>
                          <input [(ngModel)]="registerdata.name" name="name" type="text" class="form-control form-control-lg" />
                         
                        </div>
                      </div>
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                            <label class="form-label" for="form3Example1n">ນາມສະກຸນ</label>
                          <input [(ngModel)]="registerdata.lastname" name="lastname" type="text" class="form-control form-control-lg" />
                        </div>
                      </div>
                    </div>
    
                    <div class="row">
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                            <label class="form-label" for="form3Example1m1">ຊື່ເຂົ້າລະບົບ</label>
                            <input type="text" id="form3Example1m1" class="form-control form-control-lg" />
                        </div>
                      </div>
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                            <label class="form-label" for="form3Example1n1">ລະຫັດຜ່ານ</label>
                            <input type="text" id="form3Example1n1" class="form-control form-control-lg" />
                        </div>
                      </div>
                    </div>
    
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example8">ທີ່ຢູ່</label>
                        <input type="text" id="form3Example8" class="form-control form-control-lg" />
                    </div>
    
                    <div class="d-md-flex justify-content-start align-items-center mb-5 py-2">
    
                      <h6 class="mb-0 me-4">ເພດ: </h6>
    
                      <div class="form-check form-check-inline mb-0 me-4">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="inlineRadioOptions"
                          id="femaleGender"
                          value="option1"
                        />
                        <label class="form-check-label" for="femaleGender">ຍິງ</label>
                      </div>
    
                      <div class="form-check form-check-inline mb-0 me-4">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="inlineRadioOptions"
                          id="maleGender"
                          value="option2"
                        />
                        <label class="form-check-label" for="maleGender">ຊາຍ</label>
                      </div>
    
                      <div class="form-check form-check-inline mb-0">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="inlineRadioOptions"
                          id="otherGender"
                          value="option3"
                        />
                        <label class="form-check-label" for="otherGender">ອື່ນໆ</label>
                      </div>
    
                    </div>
    
                   
                    <div class="row">

                      <h6>ເລືອກຄຳຖາມທີ່ໃຊ້ຢືນຢັນ</h6>
                      <div class="col-md-5 mb-4">
                        
                        <select class="select "  style="border-color:rgb(175, 171, 175) ; height: 48px; border-radius:5px">
                          <option value="1">ຊື່ໝາທີ່ລ້ຽງ</option>
                          <option value="2">ເລກປ້າຍລົດ</option>
                          <option value="3">ໂທລະສັບໜ່ວຍທຳອິດລຸ້ນຫຍັງ</option>
                        </select>
    
                      </div>
                      <div class="col-md-7">
                      <div class="form-outline mb-4">
                        <input type="text" id="form3Example9" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example9">ປ້ອນຄຳຕອບ</label>
                      </div>
                    </div>
                    </div>
         
                    <div class="row">
                      <div class="col-md-5 mb-4">
                        <div class="form-outline mb-4">
                          <input type="date" id="form3Example9" class="form-control form-control-lg" />
                          <label class="form-label" for="form3Example9">ວັນເດືອນປີເກີດ</label>
                        </div>
                      </div>
                      <div class="col-md-7">
                        <div class="form-outline mb-4">
                          <input type="email" id="form3Example90" class="form-control form-control-lg" />
                          <label class="form-label" for="form3Example90">ອີເມວ</label>
                        </div>
                      </div>
                    </div>
  
                    <div class="d-flex justify-content-end pt-3">
                      <button type="button" class="btn btn-light btn-lg">ລ້າງຂໍ້ມູນ</button>
                      <button (click)="register()" type="button" class="btn btn-warning btn-lg ms-2">ຢືນຢັນ</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

